/* line 11, app/assets/stylesheets/home.scss */
.container-fluid {
    margin: 0 auto;
    padding: 0;
    font-family: "monospace", sans-serif;
    color: #fff;
    background-color: #93a5a8;
    text-align: center;
    position: relative;
}

/* line 23, app/assets/stylesheets/home.scss */
.container-fluid.welcome {
    background: url("https://images.unsplash.com/photo-1478515463067-d20f52aace26?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

/* line 31, app/assets/stylesheets/home.scss */
.container-fluid.welcome h1 {
    color: #353235;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    padding-top: 10%;
}

/* line 42, app/assets/stylesheets/home.scss */
.container-fluid.welcome .btn-default {
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
}

/* line 54, app/assets/stylesheets/home.scss */
.container-fluid.welcome .btn-default .fas {
    font-size: 40px;
}

/* line 58, app/assets/stylesheets/home.scss */
.container-fluid.welcome .btn-default .h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

/* line 64, app/assets/stylesheets/home.scss */
.container-fluid.welcome .btn-default:hover {
    background-color: #fff;
    color: #353235;
}

/* line 72, app/assets/stylesheets/home.scss */
.container-fluid.about-alt {
    height: auto;
    overflow: auto;
}

/* line 76, app/assets/stylesheets/home.scss */
.container-fluid.about-alt #about-background {
    background: url("https://images.unsplash.com/photo-1484068043587-e86f6124d2ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2942&q=80")
        no-repeat center center fixed;
    background-color: #93a5a8;
    height: 100vh;
    min-height: 600px;
}

/* line 82, app/assets/stylesheets/home.scss */
.container-fluid.about-alt #about-background #profile-picture {
    background: url("https://avatars0.githubusercontent.com/u/49913008?s=380&v=4")
        no-repeat center center;
    background-color: #93a5a8;
    height: 450px;
    width: 450px;
    border: 5px solid #353235;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
    min-height: 300px;
}

/* line 94, app/assets/stylesheets/home.scss */
.container-fluid.about-alt #about-background #load-content-container {
    font-size: 33px;
    width: 50%;
    height: fit-content;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: rgba(53, 50, 53, 0.59);
}

/* line 106, app/assets/stylesheets/home.scss */
.container-fluid.about-alt #scroll-content-container {
    background-color: #353235;
    color: #fff;
    height: 820px;
}

/* line 115, app/assets/stylesheets/home.scss */
.container-fluid.about {
    height: auto;
    overflow: auto;
}

/* line 119, app/assets/stylesheets/home.scss */
.container-fluid.about #welcome {
    background: url("https://images.unsplash.com/photo-1478515463067-d20f52aace26?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}

/* line 126, app/assets/stylesheets/home.scss */
.container-fluid.about #welcome h1 {
    color: #353235;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    padding-top: 10%;
}

/* line 137, app/assets/stylesheets/home.scss */
.container-fluid.about #welcome .btn-default {
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}

/* line 148, app/assets/stylesheets/home.scss */
.container-fluid.about #welcome .btn-default .fas {
    font-size: 40px;
}

/* line 152, app/assets/stylesheets/home.scss */
.container-fluid.about #welcome .btn-default .h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

/* line 158, app/assets/stylesheets/home.scss */
.container-fluid.about #welcome .btn-default:hover {
    background-color: #fff;
    color: #353235;
}

/* line 165, app/assets/stylesheets/home.scss */
.container-fluid.about #quote {
    font-style: italic;
    font-size: 60px;
}

/* line 170, app/assets/stylesheets/home.scss */
.container-fluid.about #about {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-leftside-dark2.jpeg?raw=true")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    min-height: 100vh;
}

/* line 177, app/assets/stylesheets/home.scss */
.container-fluid.about #about #profile-picture {
    background: url("https://avatars0.githubusercontent.com/u/49913008?s=460&v=4")
        no-repeat 64% 22%;
    background-color: #93a5a8;
    height: 300px;
    width: 300px;
    border: 5px solid #353235;
    border-radius: 50%;
    min-height: 300px;
    min-width: 300px;
}

/* line 188, app/assets/stylesheets/home.scss */
.container-fluid.about #about h1 {
    font-size: 60px;
    /* text-shadow: 1px 1px #3E4044; */
}

/* line 192, app/assets/stylesheets/home.scss */
.container-fluid.about #about h2 {
    font-size: 40px;
    color: #000000;
    /* text-shadow: 1px 1px #3E4044; */
}

/* line 197, app/assets/stylesheets/home.scss */
.container-fluid.about #about h3 {
    font-size: 33px;
    color: #93a5a8;
    /* text-shadow: 1px 1px #D5D1CE; */
}

/* line 202, app/assets/stylesheets/home.scss */
.container-fluid.about #about p {
    font-size: 30px;
    color: #000000;
}

/* line 206, app/assets/stylesheets/home.scss */
.container-fluid.about #about p a {
    color: #4a6373;
}

/* line 212, app/assets/stylesheets/home.scss */
.container-fluid.about .content-break {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-darkest.jpg?raw=true")
        no-repeat center center fixed;
    background-size: cover;
    background-color: #353235;
    min-height: 100vh;
}

/* line 219, app/assets/stylesheets/home.scss */
.container-fluid.about #scroll-content-container {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-rightside-dark.jpg?raw=true")
        no-repeat center center fixed;
    background-size: cover;
    background-color: #353235;
    color: #fff;
    min-height: 100vh;
}

/* line 228, app/assets/stylesheets/home.scss */
.container-fluid.about #skills .row {
    align-items: center;
}

/* line 232, app/assets/stylesheets/home.scss */
.container-fluid.about #skills .skill-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: #fff;
    font-size: 33px;
}

/* line 243, app/assets/stylesheets/home.scss */
.container-fluid.about #skills .skill-title .fas,
.container-fluid.about #skills .skill-title .far,
.container-fluid.about #skills .skill-title .fab {
    font-size: 60px;
}

/* line 247, app/assets/stylesheets/home.scss */
.container-fluid.about #skills .skill-title img {
    width: 60px;
    height: auto;
}

/* line 253, app/assets/stylesheets/home.scss */
.container-fluid.about #skills .skill-description {
    font-size: 33px;
}

/* line 260, app/assets/stylesheets/home.scss */
.container-fluid.projects {
    height: auto;
    overflow: auto;
}

/* line 264, app/assets/stylesheets/home.scss */
.container-fluid.projects #projects-background {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-upsidedown-dark.jpeg?raw=true")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

/* line 271, app/assets/stylesheets/home.scss */
.container-fluid.projects #projects-background #load-content-container {
    font-size: 33px;
    width: 50%;
    height: fit-content;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: rgba(53, 50, 53, 0);
}

/* line 283, app/assets/stylesheets/home.scss */
.container-fluid.projects #scroll-content-container {
    background-color: #353235;
    color: #fff;
    height: 820px;
}

/* line 290, app/assets/stylesheets/home.scss */
.container-fluid.contact {
    height: auto;
    overflow: auto;
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-rightside-dark2.jpg?raw=true")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    height: 100vh;
}

/* line 299, app/assets/stylesheets/home.scss */
.container-fluid.contact #contact-container {
    border: 10px solid #93a5a8;
    box-shadow: 10px 10px 5px #3e4044;
    width: 75%;
    height: 75%;
}

/* line 305, app/assets/stylesheets/home.scss */
.container-fluid.contact #contact-container h1 {
    font-size: 60px;
}

@media screen and (max-width: 816px) and (min-width: 600px) {
    /* line 317, app/assets/stylesheets/home.scss */
    footer {
        top: 0;
    }
}
/* line 12, app/assets/stylesheets/pages.scss */
.container-fluid {
    margin: 0 auto;
    padding: 0;
    font-family: "monospace", sans-serif;
    color: #fff;
    background-color: #93a5a8;
    text-align: center;
    position: relative;
}

/* line 24, app/assets/stylesheets/pages.scss */
.container-fluid.welcome {
    background: url("https://images.unsplash.com/photo-1478515463067-d20f52aace26?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

/* line 32, app/assets/stylesheets/pages.scss */
.container-fluid.welcome h1 {
    color: #353235;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    padding-top: 10%;
}

/* line 43, app/assets/stylesheets/pages.scss */
.container-fluid.welcome .btn-default {
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
}

/* line 55, app/assets/stylesheets/pages.scss */
.container-fluid.welcome .btn-default .fas {
    font-size: 40px;
}

/* line 59, app/assets/stylesheets/pages.scss */
.container-fluid.welcome .btn-default .h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

/* line 65, app/assets/stylesheets/pages.scss */
.container-fluid.welcome .btn-default:hover {
    background-color: #fff;
    color: #353235;
}

/* line 73, app/assets/stylesheets/pages.scss */
.container-fluid.about-alt {
    height: auto;
    overflow: auto;
}

/* line 77, app/assets/stylesheets/pages.scss */
.container-fluid.about-alt #about-background {
    background: url("https://images.unsplash.com/photo-1484068043587-e86f6124d2ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2942&q=80")
        no-repeat center center fixed;
    background-color: #93a5a8;
    height: 100vh;
    min-height: 600px;
}

/* line 83, app/assets/stylesheets/pages.scss */
.container-fluid.about-alt #about-background #profile-picture {
    background: url("https://avatars0.githubusercontent.com/u/49913008?s=460&v=4")
        no-repeat center center;
    background-color: #93a5a8;
    height: 450px;
    width: 450px;
    border: 5px solid #353235;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
    min-height: 300px;
}

/* line 95, app/assets/stylesheets/pages.scss */
.container-fluid.about-alt #about-background #load-content-container {
    font-size: 33px;
    width: 50%;
    height: fit-content;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: rgba(53, 50, 53, 0.59);
}

/* line 107, app/assets/stylesheets/pages.scss */
.container-fluid.about-alt #scroll-content-container {
    background-color: #353235;
    color: #fff;
    height: 820px;
}

/* line 116, app/assets/stylesheets/pages.scss */
.container-fluid.about {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

/* line 121, app/assets/stylesheets/pages.scss */
.container-fluid.about #welcome {
    background: url("https://images.unsplash.com/photo-1478515463067-d20f52aace26?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}

/* line 128, app/assets/stylesheets/pages.scss */
.container-fluid.about #welcome h1 {
    color: #353235;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    padding-top: 10%;
}

/* line 139, app/assets/stylesheets/pages.scss */
.container-fluid.about #welcome .btn-default {
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}

/* line 150, app/assets/stylesheets/pages.scss */
.container-fluid.about #welcome .btn-default .fas {
    font-size: 40px;
}

/* line 154, app/assets/stylesheets/pages.scss */
.container-fluid.about #welcome .btn-default .h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

/* line 160, app/assets/stylesheets/pages.scss */
.container-fluid.about #welcome .btn-default:hover {
    background-color: #fff;
    color: #353235;
}

/* line 167, app/assets/stylesheets/pages.scss */
.container-fluid.about #quote {
    font-style: italic;
    font-size: 60px;
}

/* line 172, app/assets/stylesheets/pages.scss */
.container-fluid.about #about {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-leftside-dark2.jpeg?raw=true")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    min-height: 100vh;
}

/* line 178, app/assets/stylesheets/pages.scss */
.container-fluid.about #about #profile-picture {
    background: url("https://avatars0.githubusercontent.com/u/49913008?s=460&v=4")
        no-repeat 64% 22%;
    background-color: #93a5a8;
    height: 300px;
    width: 300px;
    border: 5px solid #353235;
    border-radius: 50%;
    min-height: 300px;
    min-width: 300px;
}

/* line 189, app/assets/stylesheets/pages.scss */
.container-fluid.about #about h1 {
    font-size: 60px;
    /* text-shadow: 1px 1px #3E4044; */
}

/* line 193, app/assets/stylesheets/pages.scss */
.container-fluid.about #about h2 {
    font-size: 40px;
    color: #000000;
    /* text-shadow: 1px 1px #3E4044; */
}

/* line 198, app/assets/stylesheets/pages.scss */
.container-fluid.about #about a h3 {
    font-size: 1rem;
    color: #93a5a8;
    /* text-shadow: none; */
}

/* line 203, app/assets/stylesheets/pages.scss */
.container-fluid.about #about p {
    font-size: 30px;
    color: #000000;
}

/* line 207, app/assets/stylesheets/pages.scss */
.container-fluid.about #about p a {
    color: #4a6373;
}

/* line 212, app/assets/stylesheets/pages.scss */
.container-fluid.about #about .accordion {
    background-color: transparent;
    color: #3e4044;
    border: none;
    outline: none;
    transition: 0.5s;
    width: 100%;
}

/* line 221, app/assets/stylesheets/pages.scss */
.container-fluid.about #about .accordion.active,
.container-fluid.about #about .accordion:hover {
    background: linear-gradient(
        80deg,
        transparent 0%,
        #353235 15%,
        #353235 85%,
        transparent 100%
    );
    color: #93a5a8;
}

/* line 228, app/assets/stylesheets/pages.scss */
.container-fluid.about #about .panel {
    color: #fff;
    background: linear-gradient(
        80deg,
        transparent 0%,
        rgba(53, 50, 53, 0.59) 15%,
        rgba(53, 50, 53, 0.59) 85%,
        transparent 100%
    );
    text-align: left;
    padding: 0px 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* line 239, app/assets/stylesheets/pages.scss */
.container-fluid.about #about .fas,
.container-fluid.about #about .far,
.container-fluid.about #about .fab {
    color: #000000;
    font-size: 60px;
}

/* line 243, app/assets/stylesheets/pages.scss */
.container-fluid.about #about .fas.fa-linkedin,
.container-fluid.about #about .far.fa-linkedin,
.container-fluid.about #about .fab.fa-linkedin {
    color: #0966c2;
}

/* line 247, app/assets/stylesheets/pages.scss */
.container-fluid.about #about .fas:hover,
.container-fluid.about #about .far:hover,
.container-fluid.about #about .fab:hover {
    color: #fff !important;
}

/* line 253, app/assets/stylesheets/pages.scss */
.container-fluid.about .content-break {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-darkest.jpg?raw=true")
        no-repeat center center fixed;
    background-size: cover;
    background-color: #353235;
    min-height: 100vh;
}

/* line 260, app/assets/stylesheets/pages.scss */
.container-fluid.about #scroll-content-container {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-rightside-dark.jpg?raw=true")
        no-repeat center center fixed;
    background-size: cover;
    background-color: #353235;
    color: #fff;
    min-height: 100vh;
}

/* line 269, app/assets/stylesheets/pages.scss */
.container-fluid.about #skills a {
    color: #fff;
    text-decoration: underline;
}

/* line 273, app/assets/stylesheets/pages.scss */
.container-fluid.about #skills .row {
    align-items: center;
}

/* line 277, app/assets/stylesheets/pages.scss */
.container-fluid.about #skills .skill-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: #fff;
    font-size: 1.5rem;
}

/* line 287, app/assets/stylesheets/pages.scss */
.container-fluid.about #skills .skill-title .fas,
.container-fluid.about #skills .skill-title .far,
.container-fluid.about #skills .skill-title .fab {
    font-size: 60px;
}

/* line 291, app/assets/stylesheets/pages.scss */
.container-fluid.about #skills .skill-title img {
    width: 60px;
    height: auto;
}

/* line 297, app/assets/stylesheets/pages.scss */
.container-fluid.about #skills .skill-description {
    font-size: 1.25rem;
}

/* line 302, app/assets/stylesheets/pages.scss */
.container-fluid.about #projects {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-rightside-dark.jpg?raw=true")
        no-repeat center center fixed;
    min-height: 100vh;
}

/* line 305, app/assets/stylesheets/pages.scss */
.container-fluid.about #projects a {
    color: #fff;
}

/* line 307, app/assets/stylesheets/pages.scss */
.container-fluid.about #projects a img {
    width: 300px;
    height: 300px;
}

.container-fluid.about #projects a img:not(#tn-link) {
    border: 5px solid #fff;
}

/* line 313, app/assets/stylesheets/pages.scss */
.container-fluid.about #projects h2 {
    color: #4a6373;
}

/* line 316, app/assets/stylesheets/pages.scss */
.container-fluid.about #projects h3 {
    color: #93a5a8;
}

/* line 319, app/assets/stylesheets/pages.scss */
.container-fluid.about #projects p {
    max-width: 50%;
    color: #3e4044;
}

/* line 325, app/assets/stylesheets/pages.scss */
.container-fluid.about #current-work {
    min-height: 100vh;
}

/* line 327, app/assets/stylesheets/pages.scss */
.container-fluid.about #current-work a {
    color: #fff;
}

/* line 329, app/assets/stylesheets/pages.scss */
.container-fluid.about #current-work a img {
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
}

/* line 335, app/assets/stylesheets/pages.scss */
.container-fluid.about #current-work h2 {
    color: #93a5a8;
}

/* line 338, app/assets/stylesheets/pages.scss */
.container-fluid.about #current-work h3 {
    color: #93a5a8;
}

/* line 341, app/assets/stylesheets/pages.scss */
.container-fluid.about #current-work p {
    max-width: 50%;
    color: #d5d1ce;
}

/* line 349, app/assets/stylesheets/pages.scss */
.container-fluid.projects {
    height: auto;
    overflow: auto;
}

/* line 353, app/assets/stylesheets/pages.scss */
.container-fluid.projects #projects-background {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-upsidedown-dark.jpeg?raw=true")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

/* line 360, app/assets/stylesheets/pages.scss */
.container-fluid.projects #projects-background #load-content-container {
    font-size: 33px;
    width: 50%;
    height: fit-content;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: rgba(53, 50, 53, 0);
}

/* line 372, app/assets/stylesheets/pages.scss */
.container-fluid.projects #scroll-content-container {
    background-color: #353235;
    color: #fff;
    height: 820px;
}

/* line 379, app/assets/stylesheets/pages.scss */
.container-fluid.contact {
    height: auto;
    overflow: auto;
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-rightside-dark2.jpg?raw=true")
        no-repeat center center fixed;
    background-color: #93a5a8;
    background-size: cover;
    height: 100vh;
}

/* line 388, app/assets/stylesheets/pages.scss */
.container-fluid.contact #contact-container {
    border: 10px solid #93a5a8;
    box-shadow: 10px 10px 5px #3e4044;
    width: 75%;
    height: 75%;
}

/* line 394, app/assets/stylesheets/pages.scss */
.container-fluid.contact #contact-container h1 {
    font-size: 60px;
}

@media screen and (max-width: 816px) and (min-width: 600px) {
    /* line 406, app/assets/stylesheets/pages.scss */
    footer {
        top: 0;
    }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 27, app/assets/stylesheets/application.scss */
html {
    scroll-behavior: smooth;
}

/* line 31, app/assets/stylesheets/application.scss */
header {
    background: url("https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-darkest.jpg?raw=true")
        no-repeat;
    background-size: cover;
    height: 50px;
    font-family: "monospace", sans-serif;
    color: #fff;
}

/* line 38, app/assets/stylesheets/application.scss */
header a.nav {
    color: #4a6373;
    font-size: 30px;
    text-decoration: none;
}

/* line 43, app/assets/stylesheets/application.scss */
header a.nav:hover {
    color: #93a5a8;
}

/* line 48, app/assets/stylesheets/application.scss */
header a.social-media {
    color: #000000;
    font-size: 40px;
    margin-right: 33px;
    text-decoration: none;
}

/* line 54, app/assets/stylesheets/application.scss */
header a.social-media:hover {
    color: #fff !important;
}

/* line 60, app/assets/stylesheets/application.scss */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: left;
    padding-left: 33px;
}

/*# sourceMappingURL=application.css-1145a3fe8a0b347883c5ab8609186ee98a5686cd1b0fad135fcace9b51e26c46.map */
