<%
=begin%>
 <div class="container-fluid d-flex flex-column about">
  <div id="about-background" class="d-flex flex-wrap">
    <div id="profile-picture"></div>
    <div id="load-content-container">
      Bacon ipsum dolor amet turducken bacon spare ribs, rump kielbasa porchetta ground round. Pork loin sirloin tri-tip pork burgdoggen. Bresaola pork loin pig tri-tip. Frankfurter ribeye fatback tongue pastrami porchetta beef alcatra short ribs turducken bacon leberkas cupim. Biltong tail capicola tongue porchetta, bacon ham hock picanha strip steak chislic pastrami pork belly. Bacon pork belly fatback andouille cupim bresaola pastrami.
    </div>
    <div id="skills">
      Bacon ipsum dolor amet turducken bacon spare ribs, rump kielbasa porchetta ground round. Pork loin sirloin tri-tip pork burgdoggen. Bresaola pork loin pig tri-tip. Frankfurter ribeye fatback tongue pastrami porchetta beef alcatra short ribs turducken bacon leberkas cupim. Biltong tail capicola tongue porchetta, bacon ham hock picanha strip steak chislic pastrami pork belly. Bacon pork belly fatback andouille cupim bresaola pastrami.
    </div>
  </div>
  <div id="scroll-content-container" class="w-100">
    Hiiiii
  </div>
</div> 
<%
=end%>


<div class="container-fluid d-flex flex-column about">
  <div id="about-background">
    <div class="row h-100">
      <div class="col-12 col-lg-4 d-flex flex-column align-items-center pt-5">
        <div id="profile-picture" class="mb-5"></div>
        <div class="w-100">
          <h1>Grant Kee</h1>
          <h2>Software Engineer<h2>
        </div>
      </div>
  
      <div class="col-12 col-lg-8 d-flex flex-column align-items-center pt-5">
        <h1 class="d-lg-block d-none">About Me</h1>
        <p class="w-100 p-3">
          Bacon ipsum dolor amet turducken bacon spare ribs, rump kielbasa porchetta ground round. Pork loin sirloin tri-tip pork burgdoggen. Bresaola pork loin pig tri-tip. Frankfurter ribeye fatback tongue pastrami porchetta beef alcatra short ribs turducken bacon leberkas cupim. Biltong tail capicola tongue porchetta, bacon ham hock picanha strip steak chislic pastrami pork belly. Bacon pork belly fatback andouille cupim bresaola pastrami.
        </p>
      </div>
    </div>
  </div>
  <div id="scroll-content-container" class="w-100">
    Hiiiii
  </div>
</div>