
<div class="container-fluid d-flex flex-column">
  <h1>Grant Kee</h1>
  <div class="row d-flex flex-sm-column flex-md-row justify-content-center align-items-center">
    <div class="col-sm-12 col-md-4">
      <a class="btn-default" href="#">
        <%= icon('fas', 'address-card') %>
        <h2>About</h2>
      </a>
    </div>
    <div class="col-sm-12 col-md-4">
      <a class="btn-default" href="#">
        <%= icon('fas', 'code') %>
        <h2>Projects</h2>
      </a>
    </div>
    <div class="col-sm-12 col-md-4">
      <a class="btn-default" href="#">
        <%= icon('fas', 'comments') %>
        <h2>Contact</h2>
      </a>
    </div>
  </div>
</div>
