$dark-blue: #3E4044;
$med-blue: #4A6373;
$light-blue: #93A5A8;
$light-gray: #D5D1CE;
// $dark-gray: #1C1919;
$dark-gray: #353235;
$text-background: rgba(53, 50, 53, 0.59);
$white: #fff;
$black: #000000;

.container-fluid {
  margin: 0 auto;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: $white;
  height: calc(100vh - 50px);
  // width: 100vw;
  // background: url('https://images.unsplash.com/photo-1487266659293-c4762f375955?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  text-align: center;
  position: relative;

  &.welcome {
    background: url('https://images.unsplash.com/photo-1478515463067-d20f52aace26?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;

    h1 {
      color: $dark-gray;
      font-family: 'Yusei Magic', sans-serif;
      font-weight: 600;
      font-size: 70px;
      margin-top: 0;
      margin-bottom: 80px;
      text-transform: uppercase;
      padding-top: 10%;
    }
  
    .btn-default {
      color: $white;
      // font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 1.3px;
      padding: 15px 50px;
      text-decoration: none;
      text-transform: uppercase;  
      display: inline-block;
      margin-bottom: 20px;   
      
      .fas {
        font-family: FontAwesome;
        font-size: 40px;
        font-style: normal;
      }
  
      .h2 {
        font-weight: 600;
        font-size: 23px;
        text-transform: uppercase;
      }
  
      &:hover {
        background-color: $white;
        color: $dark-gray;
      }
    }
  }

  // alternative about page
  &.about-alt {
    height: auto;
    overflow: auto;

    #about-background {
      background: url('https://images.unsplash.com/photo-1484068043587-e86f6124d2ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2942&q=80') no-repeat center center fixed;
      height: 100vh;
      min-height: 600px;
      
      #profile-picture {
        background: url('https://avatars0.githubusercontent.com/u/49913008?s=460&v=4') no-repeat center center;
        height: 450px;
        width: 450px;
        border: 5px solid $dark-gray;
        border-radius: 50%;
        margin-left: 5%;
        margin-top: 5%;
        min-height: 300px;
      }

      #load-content-container {
        font-size: 33px;
        width: 50%;
        height: fit-content;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background-color: $text-background;
      }
    }

    #scroll-content-container {
      background-color: $dark-gray;
      color: $white;
      height: 820px;
    }
  }

// themed about page

  &.about {
    height: auto;
    overflow: auto;

    #about-background {
      background: url('https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-leftside.jpg?raw=true') no-repeat center center fixed;
      height: 100vh;
      min-height: 600px;
      
      #profile-picture {
        background: url('https://avatars0.githubusercontent.com/u/49913008?s=460&v=4') no-repeat center center;
        height: 450px;
        width: 450px;
        border: 5px solid $dark-gray;
        border-radius: 50%;
        margin-left: 5%;
        margin-top: 5%;
        min-height: 300px;
      }

      #load-content-container {
        font-size: 33px;
        width: 50%;
        height: fit-content;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background-color: $text-background;
      }
    }

    #scroll-content-container {
      background-color: $dark-gray;
      color: $white;
      height: 820px;
    }
  }
}

@media screen and (max-width: 850px) {
  #about-background {
    display: flex;
    flex-direction: column;
    align-items: center;

    #profile-picture {
      background: url("https://avatars0.githubusercontent.com/u/49913008?s=460&v=4") no-repeat 64% 22% !important;
      height: 300px !important;
      width: 300px !important;
      margin: 0;
    }
  }
}

@media screen and (max-width: 816px) and (min-width: 600px) {
  footer {
    top: 0;
  }
}
