$dark-blue: #3E4044;
$med-blue: #4A6373;
$light-blue: #93A5A8;
$light-gray: #D5D1CE;
// $dark-gray: #1C1919;
$dark-gray: #353235;
$text-background: rgba(53, 50, 53, 0.59);
$white: #fff;
$black: #000000;

.container-fluid {
  margin: 0 auto;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: $white;
  height: calc(100vh - 50px);
  // width: 100vw;
  // background: url('https://images.unsplash.com/photo-1487266659293-c4762f375955?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  background-color: $light-blue;
  text-align: center;
  position: relative;

  &.welcome {
    background: url('https://images.unsplash.com/photo-1478515463067-d20f52aace26?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80') no-repeat center center fixed;
    background-color: $light-blue;
    background-size: cover;
    overflow: hidden;

    h1 {
      color: $dark-gray;
      font-family: 'Yusei Magic', sans-serif;
      font-weight: 600;
      font-size: 70px;
      margin-top: 0;
      margin-bottom: 80px;
      text-transform: uppercase;
      padding-top: 10%;
    }
  
    .btn-default {
      color: $white;
      // font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 1.3px;
      padding: 15px 50px;
      text-decoration: none;
      text-transform: uppercase;  
      display: inline-block;
      margin-bottom: 20px;   
      
      .fas {
        font-size: 40px;
      }
  
      .h2 {
        font-weight: 600;
        font-size: 23px;
        text-transform: uppercase;
      }
  
      &:hover {
        background-color: $white;
        color: $dark-gray;
      }
    }
  }

  // alternative about page
  &.about-alt {
    height: auto;
    overflow: auto;

    #about-background {
      background: url('https://images.unsplash.com/photo-1484068043587-e86f6124d2ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2942&q=80') no-repeat center center fixed;
      background-color: $light-blue;
      height: 100vh;
      min-height: 600px;
      
      #profile-picture {
        background: url('https://avatars0.githubusercontent.com/u/49913008?s=460&v=4') no-repeat center center;
        background-color: $light-blue;
        height: 450px;
        width: 450px;
        border: 5px solid $dark-gray;
        border-radius: 50%;
        margin-left: 5%;
        margin-top: 5%;
        min-height: 300px;
      }

      #load-content-container {
        font-size: 33px;
        width: 50%;
        height: fit-content;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background-color: $text-background;
      }
    }

    #scroll-content-container {
      background-color: $dark-gray;
      color: $white;
      height: 820px;
    }
  }

// themed about page

  &.about {
    height: auto;
    overflow: auto;

    #about-background {
      background: url('https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-leftside-dark2.jpeg?raw=true') no-repeat center center fixed;
      background-color: $light-blue;
      background-size: cover;
      min-height: 100vh;
      // min-height: 600px;
      
      #profile-picture {
        background: url("https://avatars0.githubusercontent.com/u/49913008?s=460&v=4") no-repeat 64% 22%;
        background-color: $light-blue;
        height: 300px;
        width: 300px;
        border: 5px solid $dark-gray;
        border-radius: 50%;
        min-height: 300px;
        min-width: 300px;
      }

      h1 {
        font-size: 60px;
        text-shadow: 1px 1px $dark-blue;
      }
      h2 {
        font-size: 40px;
        color: $black;
        text-shadow: 1px 1px $dark-blue;
      }
      h3 {
        font-size: 33px;
        color: $light-blue;
        text-shadow: 1px 1px $light-gray;
      }
      p {
        font-size: 30px;
        color: #000000;
      }
    }

    .content-break {
      background: url('https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-darkest.jpg?raw=true') no-repeat center center fixed;
      background-size: cover;
      background-color: $dark-gray;
      min-height: 100vh;
    }

    #scroll-content-container {
      background: url('https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-rightside-dark.jpg?raw=true') no-repeat center center fixed;
      background-size: cover;
      background-color: $dark-gray;
      color: $white;
      min-height: 100vh;
    }

    #skills {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        color: $white;
        font-size: 30px;
      }
    }
  }

  //projects
  &.projects {
    height: auto;
    overflow: auto;

    #projects-background {
      background: url('https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-upsidedown-dark.jpeg?raw=true') no-repeat center center fixed;
      background-color: $light-blue;
      background-size: cover;
      height: 100vh;
      min-height: 600px;

      #load-content-container {
        font-size: 33px;
        width: 50%;
        height: fit-content;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background-color: rgba(53, 50, 53, 0);
      }
    }

    #scroll-content-container {
      background-color: $dark-gray;
      color: $white;
      height: 820px;
    }
  }

  &.contact {
    height: auto;
    overflow: auto;
    background: url('https://github.com/grantkee/portfolio/blob/main/app/assets/images/matt-sclarandis-S_IV6KqGeso-unsplash-rightside-dark2.jpg?raw=true') no-repeat center center fixed;
    background-color: $light-blue;
    background-size: cover;
    height: 100vh;
    // min-height: 600px;

    #contact-container {
      border: 10px solid $light-blue;
      box-shadow: 10px 10px 5px $dark-blue;
      width: 75%;
      height: 75%;

      h1 {
        font-size: 60px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 816px) and (min-width: 600px) {
  footer {
    top: 0;
  }
}
